<h1>Scrabble word</h1>

<p>Add a word in and see how many points you can get!</p>

<form action="/detector" method='get'>
    <div class="form-group">
   <label for="scoreWord">Add your word</label>
    <input id="scoreWord" name="scoreWord" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Your score is...</button>
</form>
